.page-container {
  padding-top: 80px;
  min-height: 100px;
}

.flex-container {
  display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-trip {
  font-size: 30px;
}

.trip-list {
  text-decoration: none;
}

.trip-container {
  border: 1px solid #aaa;
}

.trip-container:hover {
  background-color: #eee;
}

.trip-conts {
  padding: 20px;
}

.trip-title {
  font-size: 22px;
}

.btn-container {
  padding: 20px 0 5px 0;
}

/*/// TRIP FORM ///*/

.field.start-date {
  display: inline-block;
  padding-right: 30px;
}

.field.end-date {
  display: inline-block;
}

.form-btn-container {
  padding: 15px 0;
  text-align: center;
}

/*/// Itineraries ///*/

.itinerary-header {
  background-color: pink;
  margin-top: 44px;
  padding: 30px 0;
}

.ui.container.flex-container{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;

}


.right.floated.five.wide.column, .itinerary-h-right {
  text-align: right;
}

.page-container.itinerary {
  padding-top: 20px;
}

.map-container {
  width: 400px;
  height: 400px;
  background-color: goldenrod;
  float: left;
}

.item-container {
  /* float: left; */
}
